.navbarContainer {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(97, 94, 94);
  background-color: #f77c36;
}
.navbarList {
  font-size: 18px;
  border-top: 2px;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  color: rgb(73, 72, 72);
  font-weight: 600;
  margin-top: 30px;
  position: relative;
}

.navbarList:hover {
  color: #007c89;
  /* color: rgb(255, 255, 255); */
}
.navbarList:active {
  color: #007c89;
  font-weight: bold;
}

@media only screen and (max-width: 400px) {
  .navbarContainer {
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgb(97, 94, 94);
  }
  .navbarList {
    font-size: 14px;
    padding: 8px 7px;
    font-weight: 500;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 800px) {
  .navbarContainer {
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgb(97, 94, 94);
  }
  .navbarList {
    padding: 8px 15px;
    font-weight: 600;
    margin-top: 16px;
  }
}
