.addButton {
  background-color: #007c89;
  padding: 1px 16px;
  border-radius: 30px;
  color: white;
  font-style: oblique;
  font-size: 40px;
  letter-spacing: 1.2px;
  transition: 0.3s;
  border: 1px solid #007c89;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px 20px 20px 0px;
}
.addButton:hover {
  background-color: #0d96a5;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #007c89;
}

@media only screen and (max-width: 400px) {
  .addButton {
    padding: 1px 13px;
    font-size: 30px;
  }
}
