.modalEffect {
  transition: background-color 1s ease-in;
}
.modalHeader {
  color: #666666;
  font-style: oblique;
  font-size: 30px;
}
.modalCloseButton {
  background-color: rgb(255, 255, 255);
  padding: 1px 16px;
  color: black;
  font-style: oblique;
  font-size: 20px;
  letter-spacing: 1.2px;
  transition: 0.3s;
  float: right;
  border: 1px solid white;
  position: relative;
}
.modalButton {
  color: white;
  background-color: #007c89;
  padding: 8px 16px;
  border-radius: 5px;
}
.modalButton:hover {
  position: static;
  border: 1px solid #0d96a5;
  color: white;
  background-color: #0d96a5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
