.IndividualCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 180px;
  margin-left: 20px;
  border-radius: 10px;
}

.IndividualCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.groupCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 240px;
  margin-left: 20px;
  border-radius: 10px;
}
.groupCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.IndividualHeading {
  font-size: 20px;
  font-style: oblique;
  color: #007c89;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}
.IndividualContainer {
  padding: 2px 16px;
  margin-top: 20px;
}
